.download-list {
	padding: 0;
}
.download-list .element, .download-list-pics .element {
	background: article_color_box;
	margin-bottom: 1em;
	padding: 1em;
}

.download-list-pics {
	padding-bottom: 2em;
}
.download-list-pics img {
	padding-bottom: 1em;
}

.icon {
	font-family: FontAwesome;
	font-weight: normal;
	line-height: 1em;
}
.file:before {
	color: darkred;
	content: "\f1c1";
}
.pdf:before {
	color: darkred;
	content: "\f016";
}