body, input {
	font-family: 'Arial', sans-serif !important;
	color: #3c3c3c;
}

@font-face{
	font-family:'FontAwesome';
	font-display: swap;
	src:url("./assets/addons/be_style/webfonts/fa-regular-400.woff2") format("woff2"),
		url("./assets/addons/be_style/webfonts/fa-regular-400.ttf") format("truetype")
}
@media print {
	body .container {
		margin-left: 0px;
		margin-right: 0px;
		width: 180mm !important;
		max-width: 180mm !important;
	}
}
html {
  scroll-behavior: smooth;
}
body {
	-moz-hyphens: auto;
	-o-hyphens: auto;
   	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
a, a:link, a:visited, a:hover, a:focus
	{text-decoration: none;}
img {
	border: 0px;
	height: auto;
	max-width: 100%;
}
.abstand {
	margin: 1em 0;
}

header {
	padding: 0;
}

.subhead {
	background-color: var(--subhead-color-bg);
}
.subhead a {
	color: var(--subhead-color-font);
}
.subhead a:hover {
	text-decoration: underline;
}
h1.subhead {
	padding: 0.5em 0;
}
#breadcrumbs.subhead, #breadcrumbs.subhead a {
	color: var(--subhead-color-font);
}
.fa-home {
	font-family: FontAwesome;
}
.fa-home:before {
	content: "\f015";
}

.navigation {
	background-color: var(--navi-color-bg);
	border-bottom: solid 1px white;
}
nav {
	position: sticky;
	top: 0;
	z-index: 1001;
}
nav a {
	text-decoration: none;
}
.navi {
	float: left;
}
.desktop-inner {
	padding: 15px 20px;
}
.desktop-navi:hover div.desktop-inner, .desktop-navi div:hover, .desktop-navi a:hover {
	color: var(--navi-color-hover-font) !important;
	cursor: pointer;
}
.desktop-navi:hover {
	background-color: var(--navi-color-hover-bg) !important;
}
.desktop-navi a:hover {
	text-decoration: none;
}
.dl-menuopen a:hover {
	text-decoration: underline;
}
#lang_chooser_div, #search_icon_div {
	padding-left: 15px;
	padding-right: 15px;
}
.main-menu-btn {
	padding-left: 15px;
}

article {
	background-color: var(--article-color-bg);
	padding: 1em 0;
}
article a, article a:visited, article a:hover, article a:focus, #breadcrumbs a {
	color: var(--article-color-h);
}
article a:hover {
	text-decoration: underline;
}
article h1     { font-size: 1.5rem; }
article h2     { font-size: 1.3rem; }
article h3     { font-size: 1.25rem;}
article h4, h5 { font-size: 1.1rem;}
article h6     { font-size: 1rem;}
article img {
	max-width: 100%;
}
article fieldset {
	background-color: var(--article-color-box);
	border: 1px solid var(--navi-color-bg);
	padding: 1em;
}
article legend {
	font-size: 1.25 rem;
	font-weight: bold;
	width: auto;
}
article .infobox {
	border: 1px solid var(--navi-color-bg);
	margin-bottom: 1em;
	width: 100%;
}
article .infobox-content {
	padding: 0.5em;
}
article .infobox-header {
	background-color: var(--navi-color-bg);
	color: var(--navi-color-font);
	padding: 0.25em 0.75em;
	text-align: center;
}
article .infobox .contactpic {
	padding-bottom: 0.75em;
}
article .infobox .right {
	float: right;
}
article .infobox .right img {
	padding-bottom: 5px;
}
article input:invalid, article textarea:invalid {
	background-color: var(--article-color-h10);
}

footer {
	background-color: var(--footer-color-bg);
	color: white;
	padding: 10px 20px 9px 20px;
}
footer a {
	color: var(--footer-color-font);
}
footer a:hover {
	color: var(--footer-color-font);
	text-decoration: underline;
}
.footerbox {
	background-color: var(--footer-color-box);
	float: left;
	margin-right: 1em;
	padding: 5px 10px;
}
.footer h2 {
	margin: 0;
}

figure {
  float: left;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

figure img {
  border-radius: 3px 3px 0 0;
}

figure figcaption {
  padding: 2px 4px 2px 4px;
  background-color: #636363;
  color: #cccccc;
  border-radius: 0 0 3px 3px;
}

/* YForm */
.input-group-addon {
	min-width: 150px;
	padding: 0px !important;
}
.input-group-addon img {
	height: 100%;
}
.formcheckbox {
    margin-bottom: 1rem;
}
.btn-primary {
	background-color: var(--article-color-h) !important;
	border: none !important;
}