@font-face{
	font-family:'FontAwesome';
	font-display: swap;
	src:url("./assets/addons/be_style/webfonts/fa-regular-400.woff2") format("woff2"),
		url("./assets/addons/be_style/webfonts/fa-regular-400.ttf") format("truetype")
}
.fa-home, .fa-icon {
	font-family: FontAwesome;
}
.fa-home:before {
	content: "\f015";
}

img {
	max-width: 100%;
}

html {
  scroll-behavior: smooth;
}
#body {
	background-color: #ececec;
	color: #4e4e4e;
}
#paper-sheet {
	background-color: var(--article-color-bg);
	box-shadow: 5px 5px 10px #4e4e4e;
	margin: 15px 0;
	padding: 0.5em 1.5em;
}

header {
	padding-bottom: 2.5em;
}
#header-image {
	width: 100%;
}
#logo-top {
	max-height: 100%;
	position: absolute;
	right: 5%;
	top: 5px;
}
#lang_chooser_div, #search_icon_div {
	float: right;
	height: 2.5em;
	padding-bottom: 1em;
}

#main-menu {
	display: block !important;
	min-width: 200px !important;
	padding-bottom: 2em;
}
.main-menu-btn {
	display: none !important;
}
#main-menu a {
	background-color: var(--navi-color-bg);
}
#main-menu .current > a, #main-menu a:hover {
	background-color: var(--navi-color-hover-bg);
}
#main-menu .main {
	float: none !important;
}

article a, article a:hover, article a:focus, article a:visited, footer a, footer a:hover, footer a:focus, footer a:visited {
	color: var(--footer-color-font);
	text-decoration: underline;
}
article .gallery-pic-box {
    padding: 0;
    margin: 0;
}
article h1 {
	font-size: 1.75em;
}
article h2 {
	font-size: 1.5em;
}
article h3 {
	font-size: 1.3em;
}
article h4 {
	font-size: 1.2em;
}
article h5, article h5 {
	font-size: 1.1em;
}
article .btn-primary, article .btn-primary:hover {
	border: none;
	background-color: var(--navi-color-hover-bg);
	color: var(--navi-color-hover-font);
}
article input:invalid, article textarea:invalid {
	background-color: var(--article-color-h10);
}

footer {
	border-top: 1px solid var(--footer-color-font);
	font-size: 0.75em;
	margin-top: 2em;
	padding: 1em 0;
}
#footer-left {
	align-items: center;
	display: flex;
}
#footer-right {
	align-items: center;
	display: flex;
	justify-content: right;
}
#logo-footer {
	float: right;
	max-height: 75px;
	padding-left: 2em;
}