@font-face{
	font-family:'FontAwesome';
	src:url("./assets/addons/be_style/fonts/fontawesome-webfont.eot?v=4.7.0");
	src:url("./assets/addons/be_style/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format('embedded-opentype'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.woff2?v=4.7.0") format('woff2'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.woff?v=4.7.0") format('woff'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.ttf?v=4.7.0") format('truetype'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format('svg');
}
body {
	-moz-hyphens: auto;
	-o-hyphens: auto;
   	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	font-family: Arial;
	hyphens: auto;
}
a, a:link, a:visited, a:hover
	{text-decoration: none;}
img {
	border: 0px;
	height: auto;
	max-width: 100%;
}
.abstand {
	margin-bottom: 1em;
}
	
/* Navi */
nav {
	background-color: navi_color_bg;
	border-bottom: solid 1px white;
	font-size: 1.15em;
}
#main-menu {
	float: left;
	padding-top: 1em;
}
.navigation a {
	text-decoration: none !important;
}
.desktop-inner {
	padding: 1em 1.75em 1em 0;
}
.desktop-navi:hover div.desktop-inner, .desktop-navi div:hover, .desktop-navi a:hover {
	color: navi_color_hover_font !important;
	cursor: pointer;
}
.desktop-navi:hover {
	background-color: navi_color_hover_bg !important;
}
.desktop-navi.current, .dl-menu li.current, .dl-menu li:hover {
	background: rgba(255, 255, 255, 0.25);
}
.desktop-navi.current, .desktop-navi:hover {
	border-bottom-color: navi_color_hover_bg !important;
}
.dl-menuwrapper .dl-menu {
	right: 0;
}
.dl-menuwrapper .dl-menu.dl-menuopen, .dl-menuwrapper li .dl-submenu {
	background-color: navi_color_fontD9;
	font-size: 1em;
}
.dl-menuwrapper li a, .dl-menuwrapper div a, ul.dl-menu a, .dl-menuwrapper li.dl-back::after, .dl-subview .dl-subviewopen .dl-submenu li a {
	color: navi_color_bg !important;
}
.dl-menu li:hover a, .dl-subviewopen .dl-submenu li:hover a {
	color: navi_color_hover_font !important;
}
.dl-menuwrapper button::after {
	background: navi_color_hover_font !important;
	box-shadow: 0 10px 0 navi_color_hover_font, 0 20px 0 navi_color_hover_font !important;
}
#langchooser, #desktop-menu {
	float: right;
}
#langchooser {
	padding-top: 1em;
}
#langchooser img {
	max-width: 25px;
}
#langchooser .single-lang {
	padding-top: 15px;
}
#langchooser .dropdown-menu.dropdown-menu-right.show {
	left: 1.5em !important;
}
#langchooser svg {
	max-width: 25px;
	max-height: 25px;
}
#langchooser a {
	color: navi_color_font;
	text-align: right;
}
#langchooser .dropdown-menu {
	border: none;
	border-radius: 0;
}
#mobile-menu {
	float: right !important;
	padding: 1em 0;
}
#logo {
	margin: 1em 0;
	max-width: 100%;
	width: 250px;
}
@media screen and (min-width: 1200px) {
	.navi-row {
		padding-top: 41px;
	}
}
/* Header*/
header {
	overflow: hidden;
}
#background {
	position: absolute;
	left: 0;
	right: 0;
	opacity: 0.4;
	z-index: -1;

	display: block;
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}
#background-single-image {
	max-height: 600px;
	max-width: 100%;
	width: 100%;
}
#headerCarousel {
	max-height: 600px;
	width: 100%;
}
#headerCarouselbg {
	max-height: 600px;
}
.slogan {
	left: 0;
	position: absolute;
	width: 100%;
}
.slogan-text {
	color: white;
	font-weight: bold;
}
@media screen and (max-width: 576px) {
	.slogan {
		bottom: 2.5em;
	}
	.slogan-text {
		font-size: 1.25em;
	}
	.slogan-text-row:last-child {
		padding-bottom: 2.5em;
	}
}
@media screen and (min-width: 577px) and (max-width: 991px) {
	.slogan {
		bottom: 2.5em;
	}
	.slogan-text {
		font-size: 1.5em;
	}
	.slogan-text-row:last-child {
		padding-bottom: 2.5em;
	}
}
@media screen and (min-width: 992px) {
	.slogan {
		bottom: 4em;
	}
	.slogan-text {
		font-size: 2em;
	}
	.slogan-text-row:last-child {
		padding-bottom: 4em;
	}
}
.slogan-text-row {
	padding: 0.16em;
	background-color: article_color_hB3;
}
.slogan-text-row:after {
	content: "\A";
	white-space: pre;
}
.carousel-item {
	transition-duration: 3s !important;
}
.carousel-item img {
	margin-left: 50%;
    transform: translateX(-50%);
}
header .carousel-indicators {
	bottom: auto;
	top: 1em;
}
header .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
header .carousel-indicators li, header .carousel-indicators li.active {
  margin: 0px 7px !important;
}

/* Subhead and Breadcrumbs */
#breadcrumbs {
	background-color: subhead_color_bg;
	padding-top: 0.25em;
}
.subhead a {
	color: subhead_color_font;
}
.subhead a:hover {
	text-decoration: underline;
}
h1.subhead {
	color: subhead_color_font;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0;
	padding-top: 0.75em;
}
@media screen and (max-width: 767px) {
	h1.subhead {
		font-size: 1.5em;
	}
}
.subhead, .subhead a, .subhead a:hover {
	color: subhead_color_font;
}
.fa-icon {
	font-family: FontAwesome;
}
.fa-file-pdf-o:before {
	color: #c60000;
	content: "\f1c1";
}
.fa-file-pdf-o {
	padding-right: 0.25em;
}
.fa-home:before {
	content: "\f015";
}
.fa-list-ul:before {
	content: "\f0ca";
}
.nav-link span.fa-icon {
	padding: 0 0.6em;
}

article, .article {
	background-color: article_color_bg;
	padding: 1em 0;
	line-height: 1.25em;
}
article a, article a:visited, article a:hover {
	color: article_color_h;
}
article a:hover {
	text-decoration: underline;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
	color: article_color_h;
	margin-top: 0;
}
article h1, article h2 {
	font-weight: bold;
}
article h2 {
	font-size: 1.75em;
}
article p, article ul {
	margin-bottom: .5rem;
}
article label {
	margin-bottom: 0;
}
article .form-group {
	margin-bottom: 0.5rem;
}
article strong, article b {
	color: article_color_h;
}

footer {
	background-color: footer_color_bg;
	color: white;
	font-size: 0.75em;
	padding: 1em;
}
.footer a {
	color: white;
}
.footer a:hover {
	color: white;
	text-decoration: underline;
}
.footerbox {
	background-color: footer_color_box;
	margin-bottom: 1em;
	padding: 5px 1em;
}
#logo-footer {
	float: right;
}

.btn-primary {
	background-color: article_color_h !important;
	border: none !important;
}

/* YForm Captcha */
.input-group-addon {
	min-width: 150px;
	padding: 0px !important;
}
.input-group-addon img {
	height: 100%;
}

/* Machinery Addon */
a .box b {
	color: white;
}
.box {
	background-color: article_color_h;
	text-align: center;
}
.box div {
	background-color: article_color_hB3;
	bottom: 0;
	color: white;
	font-weight: bold;
	padding: 5px 5px 2em 5px;
	position: absolute;
	text-align: center;
	width: calc(100% - 30px);
}
.box img {
	max-width: 100%;
}
.nav li, .nav li.active {
	padding: 0 2em 0 0;
}
@media screen and (max-width: 991px) {
	.nav li, .nav li.active {
		padding: 0 1.5em 0 0;
	}
}
.nav li a, .nav li.active a {
	padding: 0;
}
.nav-link.active {
	background-color: transparent !important;
}
.nav, .nav-pills {
	padding-top: 1em;
	border-bottom: 1px solid navi_color_hover_font;
}
a.active div.active-navi-pill {
	border-bottom: 12px solid navi_color_hover_font !important;
}
.comparison-header, unit {
	padding: 0 15px;
}
a.active div.active-navi-pill {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 3px solid transparent;
	border-bottom: 12px white solid;
    margin: 0 auto;
    width: 30px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: subhead_color_font !important;
}
.download-list li {
	background-color: navi_color_hover_font !important;
}
.download-list li .file::before {
	color: white !important;
	padding-right: 0.5em;
}
.download-list li a {
	color: white;
	font-weight: bold;
}
/* D2U Courses Addon */
#cart_symbol {
	background-color: article_color_h;
	float: right;
	width: 65px;
}
#cart_symbol img {
	position: relative;
	z-index: 1;
}
#cart_info {
	background-color: subhead_color_font;
	border-radius: 20px;
	color: subhead_color_bg;
	height: 25px;
	position: absolute;
	right: 0;
	min-width: 25px;
	text-align: center;
	top: 0;
}

/* IWCC */
.iwcc-background {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: auto !important;
	background: footer_color_bg !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 999999;
	padding: 0 !important;
	height: auto !important;
	width: 100%;
	overflow: hidden
}
.iwcc-wrapper {
	background: footer_color_bg !important;
	color: white;
	position: relative;
	font-size: 15px;
	width: 100%;
	max-width: 1140px !important;
	max-height: 100vh;
	overflow-y: auto
}
.iwcc-wrapper-inner {
	padding: 1em !important;
	position: relative
}
.iwcc-hidden {
	display: none
}
.iwcc-detail {
	margin-bottom: 1em
}
.iwcc-headline {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 1rem;
}
.iwcc-headline span {
	font-weight: normal
}
.iwcc-show-details {
	padding: 0 0 1em 0
}
.iwcc-cookiegroup a, .iwcc-cookiegroup a:hover, .iwcc-show-details a, .iwcc-show-details a:hover {
	color: article_color_h  !important;
	text-decoration: none
}
.iwcc-save-selection, .iwcc-accept-all {
	transition: 200ms ease all;
	background: article_color_h !important;
	border: 1px solid article_color_h !important;
	color: white !important;
	padding: 0.5em 2em;
	border-radius: 0.2em;
	font-weight: bold;
	text-align: center;
	margin: 0.5em 0;
	display: block;
}
.iwcc-save-selection:hover, .iwcc-accept-all:hover {
	background: white !important;
	border-color: white !important;
	color: article_color_h !important;
	text-decoration: none;
}
.iwcc-save-selection {
	background: none transparent !important;
	border: 1px solid footer_color_box !important;
	color: footer_color_box !important;
}
.iwcc-save-selection:hover {
	background: footer_color_box !important;
	border-color: footer_color_box !important;
	color: white !important;
}
.iwcc-sitelinks a {
	display: inline-block;
	margin: 0.5em 0.5em 0.5em 0 !important;
	color: white !important;
	text-decoration: none;
}
.iwcc-sitelinks a:hover {
	color: article_color_h !important;
	text-decoration: none;
}
.iwcc-save-and-close {
	color: article_color_h !important;
}
.iwcc-save-and-close:hover {
	color: article_color_h !important;
}
.iwcc-close-box {
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	display: block;
	padding: 0;
	margin: 0;
	border: 0;
	cursor: pointer;
	color: footer_color_box !important;
	font-size: 1.8em;
	background: none transparent;
	line-height: 1;
	text-decoration: none;
}
.iwcc-close-box:before {
	margin: 0
}
.iwcc-close-box:hover {
	color: article_color_h !important;
	background: none transparent;
	text-decoration: none;
}
.iwcc-cookiegroup-checkbox {
	display: block;
	margin: 0 0 1em 0;
}
.iwcc-cookiegroup-checkbox.pretty .state label {
	color: white;
	font-weight: bold;
	font-size: 1.2em;
}
.iwcc-cookiegroup-checkbox.pretty.p-default input:checked~.state label:before {
	border-color: article_color_h !important;
}
.iwcc-cookiegroup-checkbox.pretty.p-default input:checked~.state label:after {
	background-color: article_color_h !important;
}
.pretty .state label::after, .pretty .state label::before {
	top: 0 !important;
}
.iwcc-cookiegroup-checkbox.pretty.p-locked {
	opacity: 0.75;
}
.iwcc-cookiegroup+.iwcc-cookiegroup-title {
	margin-top: 1em;
}
.iwcc-cookie {
	margin-top: 0.5em;
	border-left: 2px solid article_color_h !important;
	padding: 0.5em 0.5em 0.5em 1em;
	background-color: footer_color_bg !important;
}
.iwcc-cookie span {
	display: block
}
.iwcc-text {
	font-size: 1rem;
	margin-bottom: 0.75em;
}
.icon-info-circled {
	font-family: inherit;
}
.icon-info-circled::before {
	margin-left: 0;
}
.pretty.p-icon .state .icon {
	font-size: 1.15em;
	transition: all 0.1s ease;
	top: 0 !important;
}
.pretty.p-icon .state label:before {
	margin-top: 0 !important;
}
#iwcc-toggle-details:before {
	margin-left: 0;
}
@media (min-width: 35em) {
	.iwcc-cookiegroups {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		padding: 0.5em 0 1em 0 !important;
	}
	.iwcc-cookiegroup-checkbox {
		margin: 0 2em 0 0
	}
	.iwcc-show-details {
		text-align: left !important;
		padding: 0.5em 0 1em 0 !important;
		margin-top: -3em;
	}
	.iwcc-buttons {
		display: flex;
		justify-content: flex-end;
		align-items: center
	}
	.iwcc-sitelinks {
		text-align: right;
		padding-right: 1.5em
	}
	.iwcc-sitelinks a {
		margin: 0.5em 1em 0.5em 0 !important;
	}
	.iwcc-save-selection, .iwcc-accept-all {
		display: inline-block;
		margin: 0 0 0 0.5em
	}
}
@media (min-width: 50em) {
	.iwcc-wrapper-inner {
		padding: 1em 15px !important;
	}
	.iwcc-buttons-sitelinks {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row-reverse
	}
	.iwcc-close-box {
		font-size: 2em;
		margin: 0
	}
}
ul.cookie {
	margin-top: 5px !important;
}