html {
  scroll-behavior: smooth;
}
body {
	-moz-hyphens: auto;
	-o-hyphens: auto;
   	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	font-family: Arial;
	hyphens: auto;
}
a, a:link, a:visited, a:hover
	{text-decoration: none;}
img {
	border: 0px;
	height: auto;
	max-width: 100%;
}
.abstand {
	margin-bottom: 1em;
}
/* Header */
.header-slider-pic {
	max-width: 100%;
}
.header-slider-pic-full-width {
	width: 100%;
}
/* Navi */
nav {
	background-color: var(--navi-color-bg);
	font-size: 1.15em;
	padding: 5px 0;
	position: sticky;
	top: 0;
	z-index: 1001;
}
.navigation a {
	text-decoration: none !important;
}
.navi {
	float: left;
}
.desktop-inner {
	padding: 15px 20px;
}
.desktop-navi:hover div.desktop-inner, .desktop-navi div:hover, .desktop-navi a:hover {
	color: var(--navi-color-hover-font) !important;
	cursor: pointer;
}
.desktop-navi:hover {
	background-color: var(--navi-color-hover-bg) !important;
}
.desktop-navi.current, .dl-menu li.current, .dl-menu li:hover {
	background: rgba(255, 255, 255, 0.25);
}
.desktop-navi.current, .desktop-navi:hover {
	border-bottom-color: var(--navi-color-hover-bg) !important;
}
.dl-menuwrapper .dl-menu.dl-menuopen {
	font-size: 0.8em;
}

/* Subhead and Breadcrumbs */
#breadcrumbs {
	background-color: var(--subhead-color-bg);
}
#breadcrumbs-inner {
	padding: 15px 0;
}
.subhead a {
	color: var(--subhead-color-font);
}
.subhead a:hover {
	text-decoration: underline;
}
h1.subhead {
	font-size: 2em;
	padding: 0.25em 0;
}
@media screen and (max-width: 767px) {
	h1.subhead {
		font-size: 1.5em;
	}
}
#logo {
	float: right;
	margin: 0.5em 0 25px;
}
.subhead, .subhead a, .subhead a:hover {
	color: var(--subhead-color-font);
}
.fa-icon {
	font-family: FontAwesome;
}
.nav-link span.fa-icon {
	padding: 0 0.6em;
}

article {
	background-color: var(--article-color-bg);
	padding: 1em 0 2em 0;
}
article a, article a:visited, article a:hover {
	color: var(--article-color-h);
}
article a:hover {
	text-decoration: underline;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
	color: var(--article-color-h);
	margin-top: 0;
}
article p, article ul {
	margin-bottom: .5rem;
}
article label {
	margin-bottom: 0;
}
article .form-group {
	margin-bottom: 0.5rem;
}
article input:invalid, article textarea:invalid {
	background-color: var(--article-color-h10);
}

.footer {
	padding-top: 1.5em;
	position: relative;
}
#jump-top {
	background-color: var(--footer-color-box);
	border-radius: 50%;
	font-family: FontAwesome;
	padding: 8px 15px;
	position: absolute;
	right: 15px;
	top: -30px;
}
#jump-top:hover {
	text-decoration: none;
}
#jump-top:before {
	content: "\f106";
}

.btn-primary {
	background-color: var(--article-color-h) !important;
	border: none !important;
}

/* Machinery Addon */
.box {
	background-color: var(--article-color-h);
	border: 1px solid var(--article-color-h);
	text-align: center;
}
.box div {
	color: white;
	padding: 5px;
}
.box img {
	max-width: 100%;
}
.nav li a, .nav li.active a {
	padding: 0;
}
.nav-link.active {
	background-color: transparent;
}
.comparison-header, unit {
	padding: 0 15px;
}
/* D2U Courses Addon */
#cart_symbol {
	float: right;
	position: relative;
	width: 65px;
}
#cart_symbol img {
	position: relative;
	z-index: 1;
}
#cart_info {
	background-color: var(--subhead-color-font);
	border-radius: 20px;
	color: var(--subhead-color-bg);
	font-size: 0.8em;
	height: 20px;
	position: absolute;
	right: 0;
	min-width: 20px;
	text-align: center;
	top: 5px;
}