@font-face{
	font-family:'FontAwesome';
	font-display: swap;
	src:url("./assets/addons/be_style/fonts/fontawesome-webfont.eot?v=4.7.0");
	src:url("./assets/addons/be_style/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format('embedded-opentype'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.woff2?v=4.7.0") format('woff2'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.woff?v=4.7.0") format('woff'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.ttf?v=4.7.0") format('truetype'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format('svg');
}
html {
  scroll-behavior: smooth;
}
body {
	-moz-hyphens: auto;
	-o-hyphens: auto;
   	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	font-family: Arial;
	hyphens: auto;
}
a, a:link, a:visited, a:hover
	{text-decoration: none;}
img {
	border: 0px;
	height: auto;
	max-width: 100%;
}
.abstand {
	margin-bottom: 1em;
}
	
/* Navi */
nav {
	background-color: navi_color_bg;
	border-bottom: solid 1px white;
	font-size: 1.15em;
	padding: 5px 0;
	position: sticky;
	top: 0;
	z-index: 1001;
}
.navigation a {
	text-decoration: none !important;
}
.navi {
	float: left;
}
.desktop-inner {
	padding: 15px 20px;
}
.desktop-navi:hover div.desktop-inner, .desktop-navi div:hover, .desktop-navi a:hover {
	color: navi_color_hover_font !important;
	cursor: pointer;
}
.desktop-navi:hover {
	background-color: navi_color_hover_bg !important;
}
.desktop-navi.current, .dl-menu li.current, .dl-menu li:hover {
	background: rgba(255, 255, 255, 0.25);
}
.desktop-navi.current, .desktop-navi:hover {
	border-bottom-color: navi_color_hover_bg !important;
}
.dl-menuwrapper .dl-menu.dl-menuopen {
	font-size: 0.8em;
}

/* Subhead and Breadcrumbs */
#breadcrumbs {
	background-color: subhead_color_bg;
	padding-top: 0.25em;
}
.subhead a {
	color: subhead_color_font;
}
.subhead a:hover {
	text-decoration: underline;
}
h1.subhead {
	font-size: 2em;
	padding: 0.25em 0;
}
@media screen and (max-width: 767px) {
	h1.subhead {
		font-size: 1.5em;
	}
}
#logo {
	float: right;
	margin: 0.5em 0 25px;
}
.subhead, .subhead a, .subhead a:hover {
	color: subhead_color_font;
}
.fa-icon {
	font-family: FontAwesome;
}
.fa-file-pdf-o:before {
	color: #c60000;
	content: "\f1c1";
}
.fa-file-pdf-o {
	padding-right: 0.25em;
}
.fa-home:before {
	content: "\f015";
}
.fa-list-ul:before {
	content: "\f0ca";
}
.nav-link span.fa-icon {
	padding: 0 0.6em;
}

article {
	background-color: article_color_bg;
	padding: 1em 0 2em 0;
}
article a, article a:visited, article a:hover {
	color: article_color_h;
}
article a:hover {
	text-decoration: underline;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
	color: article_color_h;
	margin-top: 0;
}
article p, article ul {
	margin-bottom: .5rem;
}
article label {
	margin-bottom: 0;
}
article .form-group {
	margin-bottom: 0.5rem;
}
article input:invalid, article textarea:invalid {
	background-color: article_color_h10;
}

.footer {
	padding-top: 1.5em;
	position: relative;
}
#jump-top {
	background-color: footer_color_box;
	border-radius: 50%;
	font-family: FontAwesome;
	padding: 8px 15px;
	position: absolute;
	right: 15px;
	top: -30px;
}
#jump-top:hover {
	text-decoration: none;
}
#jump-top:before {
	content: "\f106";
}

.btn-primary {
	background-color: article_color_h !important;
	border: none !important;
}

/* Machinery Addon */
.box {
	background-color: article_color_h;
	border: 1px solid article_color_h;
	text-align: center;
}
.box div {
	color: white;
	padding: 5px;
}
.box img {
	max-width: 100%;
}
.nav li a, .nav li.active a {
	padding: 0;
}
.nav-link.active {
	background-color: transparent !important;
}
.comparison-header, unit {
	padding: 0 15px;
}
a.active div.active-navi-pill {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 3px solid transparent;
	border-bottom: 12px white solid;
    margin: 0 auto;
    width: 30px;
}
/* D2U Courses Addon */
#cart_symbol {
	background-color: article_color_h;
	float: right;
	position: relative;
	width: 65px;
}
#cart_symbol img {
	position: relative;
	z-index: 1;
}
#cart_info {
	background-color: subhead_color_font;
	border-radius: 20px;
	color: subhead_color_bg;
	height: 25px;
	position: absolute;
	right: 0;
	min-width: 25px;
	text-align: center;
	top: 0;
}