.spacer {
	margin-top: 1em;
	padding-bottom: 1em;
}
.line {
    border-top: 1px var(--article-color-h) solid;
}
.d2u_figcaption {
	background-color: var(--article-color-box);
	padding: 10px;
}
.text-toggler {
	background-color: var(--article-color-bg);
	border: 1px solid var(--article-color-h);
	color: var(--article-color-h);
	margin-bottom: .5rem;
	padding: .25rem 1rem;
	transition: opacity 0.5s ease-in-out;
}
.angle-down:after {
	content: "\f107";
	font-family: FontAwesome;
	margin-left: .5rem;
}
.angle-up:after {
	content: "\f106";
	font-family: FontAwesome;
	margin-left: .5rem;
}
.hide-text {
	display: none;
}