body {
	font-family: 'Arial', 'Verdana', sans-serif !important;
	color: #3c3c3c;
}

@font-face{
	font-family:'FontAwesome';
	src:url("./assets/addons/be_style/fonts/fontawesome-webfont.eot?v=4.7.0");
	src:url("./assets/addons/be_style/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format('embedded-opentype'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.woff2?v=4.7.0") format('woff2'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.woff?v=4.7.0") format('woff'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.ttf?v=4.7.0") format('truetype'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format('svg');
}
body {
	-moz-hyphens: auto;
	-o-hyphens: auto;
   	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
a, a:link, a:visited, a:hover
	{text-decoration: none;}
img {
	border: 0px;
	height: auto;
	max-width: 100%;
}
.abstand
	{margin: 1em 0;}
	
header {
	background-position: center;
	background-size: cover;
	padding: 2em 0;
}

.subhead {
	background-color: subhead_color_bg;
}
.subhead a {
	color: subhead_color_font;
}
.subhead a:hover {
	text-decoration: underline;
}
h1.subhead {
	padding: 0.5em 0;
}
#breadcrumbs {
	padding: 1em 0 0 0;
}
#breadcrumbs.subhead, #breadcrumbs.subhead a {
	color: subhead_color_font;
}
.fa-home {
	font-family: FontAwesome;
}
.fa-home:before {
	content: "\f015";
}

nav {
	background-color: navi_color_bg;
	border-bottom: solid 1px white;
	float: left;
}
nav a {
	text-decoration: none !important;
}
.desktop-inner {
	padding: 15px 20px;
}
.desktop-navi:hover div.desktop-inner, .desktop-navi div:hover, .desktop-navi a:hover {
	color: navi_color_hover_font !important;
	cursor: pointer;
}
.desktop-navi:hover {
	background-color: navi_color_hover_bg !important;
}
.desktop-navi a:hover {
	text-decoration: none;
}
.dl-menuopen a:hover {
	text-decoration: underline;
}
.desktop-navi.current, .desktop-navi li.current {
	background: rgba(255, 255, 255, 0.25);
}
#lang_chooser_div {
	float: right;
}
#lang_chooser_button {
	margin-top: 10px;
}

article {
	background-color: article_color_bg;
	padding: 2em 0;
}
#breadcrumbs a {
	color: navi_color_bg;
}
article a, article a:hover, article a:visited {
	color: article_color_h;
}

article a:hover {
	text-decoration: underline;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
	color: article_color_h;
}
article h1     {font-weight: 400; margin: 0 0 10px 0; }
article h2     {font-weight: 400; margin: 0 0 10px 0; }
article h3     {font-weight: 700; margin: 20px 0 10px 0; }
article h4, article h5 {font-weight: 400; margin: 0; }
article h6     {font-weight: 400; margin: 0; }
article img {
	max-width: 100%;
}
article fieldset {
	background-color: article_color_box;
	border: 1px solid navi_color_bg;
	padding: 1em;
}
article legend {
	font-size: 1.25 rem;
	font-weight: bold;
	width: auto;
}
article .btn-primary {
	background-color: article_color_h;
	border-color: article_color_h;
}

.btn-primary {
	background-color: article_color_h !important;
	border: none !important;
}

/* Other stuff */
figure {
  float: left;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

figure img {
  border-radius: 3px 3px 0 0;
}

figure figcaption {
  padding: 2px 4px 2px 4px;
  background-color: #636363;
  color: #cccccc;
  border-radius: 0 0 3px 3px;
}