/* Footer links address contact logo CSS */
footer {
	background-color: var(--footer-color-bg);
	padding: 1em;
}
footer a {
	color: var(--footer-color-font);
}
footer a:hover {
	color: var(--footer-color-font);
	text-decoration: underline;
}
footer p {
    margin-bottom: 5px;
}
.footer-title {
	border-bottom: 1px solid var(--footer-color-box);
	margin-bottom: 10px;
}
#logo-footer {
	float: none !important;
	padding-bottom: 1em;
}
.footer-address, .footer-address a {
	color: var(--footer-color-font);
	line-height: 1.75rem;
	margin-bottom: 1em;
}
.fa-envelope:before {
	content: "\f0e0";
}
.fa-facebook:before {
	content: "\f230";
}
.fa-fax:before {
	content: "\f1ac";
}
.fa-icon {
	font-family: FontAwesome;
}
.fa-link:before {
	content: "\f054";
}
.fa-mobile:before {
	content: "\f1b9";
}
footer .fa-mobile:before {
	font-size: 25px;
	position: relative;
	top: 1px;
}
.fa-phone:before {
	content: "\f095";
}
.fa-user:before {
	content: "\f007";
}
.footer-icon {
	display: inline-block;
	width: 1.5em;
}
.footer-logo-col {
	text-align: center;
}