/* Footer simple contact links BS5 CSS */
footer {
    background-color: var(--footer-color-bg);
    color: var(--footer-color-font);
    padding: 1em;
}
footer a {
    color: var(--footer-color-font);
}
footer a:hover {
    color: var(--footer-color-font);
    text-decoration: underline;
}
#footer-links {
    padding-top: 1.5rem;
    border-top: 1px solid var(--footer-color-box);
}
.footer-icon {
    display: inline-block;
    width: 1.5em;
}
@media screen and (min-width: 768px) {
    #footer-contact li::after {
        content: "|";
        padding: 0 0.5rem;
    }
    #footer-contact li:last-child::after {
        content: "";
        padding: 0;
    }
    #footer-links li::after {
        content: "|";
        padding: 0 0.5rem;
    }
    #footer-links li:last-child::after {
        content: "";
        padding: 0;
    }
}
