.youtubeTitleWrapper {
	background: article_color_box;
}
.youtubeTitleWrapper h2 {
	padding: 0 15px 15px 15px;
}
.youtubeWrapper {
	height: 0;
	margin-bottom: 15px;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
}
.youtubeWrapper iframe {
	background: none;
	left: 0;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}
.youtube-click-overlay {
	cursor: pointer;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}
.youtube-gdpr-hint {
	background-color: rgba(50,50,50,0.9);
	color: white;
	margin: 0 auto;
	max-width: 600px;
	padding: 15px;
	text-align: center;
}
.youtube-play-button {
	color: white;
	left: 50%;
	padding: 15px;
	position: absolute;
	top: 50%;
	transform: translate(-50.1%,-50%);
	z-index: 3;
}
.youtube-play-button button {
	background-color: article_color_h;
	border: none;
	border-radius: 100%;
	padding: 20px;
}
.youtube-play-button svg {
    fill: white;
	height: 35px;
	left: 3px;
	position: relative;
	width: 35px;
}