input[type=checkbox].d2u_helper_toggle, input[type=checkbox].d2u_helper_toggle:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ddd;
    border-radius: 1.6em;
    cursor: pointer;
	float: right;
    height: 1.5em;
    margin-top: -6px;
    outline: 0;
    position: relative;
    transition: background 0.1s ease-in-out;
    vertical-align: middle;
    -webkit-transition: background 0.1s ease-in-out;
    width: 3em;
}
input[type=checkbox].d2u_helper_toggle::after {
	bottom: -1px;
    content: '';
    width: 1.5em;
    height: 1.5em;
    background: white;
    position: absolute;
    border-radius: 1.2em;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    left: 0;
    box-shadow: 0 1px rgba(100, 100, 100, 0.5);
    -webkit-transition: left 0.1s ease-in-out;
    transition: left 0.1s ease-in-out;
}
input[type=checkbox].d2u_helper_toggle:checked {
    background: #5bb585;
}
input[type=checkbox].d2u_helper_toggle:checked::after {
    left: 1.5em;
}
input[type=text].d2u_helper_color_text {
	font-weight: normal;
	width: 100px;
}
input[type=color].d2u_helper_color {
	height: 36px;
	width: 50px;
}
dd.d2u_helper_color_desc {
	padding-top: 14px;
}
.d2u_helper_color_pair_table {
    border-radius: 5px;
	border-spacing: 4px 2px;
}
.d2u_helper_color_pair_table input[type=color].d2u_helper_color {
	float: none;
	height: 30px;
	width: 40px;
	margin: 0;
    margin-right: 5px;
}
.d2u_helper_color_pair_table input[type=text].d2u_helper_color_text {
	float: none;
	width: 90px;
	height: 30px;
	padding: 2px 6px;
	font-size: 0.9em;
}
.d2u_helper_color_pair_icon_cell {
	text-align: center;
	vertical-align: middle;
	width: 2.5em;
	min-width: 2.5em;
	font-size: 1.2em;
	padding: 2px 10px 2px 4px;
}
@media screen and (max-width: 991px) {
	input[type=color].d2u_helper_color {
		float: left;
	}
	input[type=text].d2u_helper_color_text {
		float: left;
	}
}
@media screen and (min-width: 992px) {
	input[type=color].d2u_helper_color {
		float: right;
	}
	input[type=text].d2u_helper_color_text {
		float: right;
	}
}

body:not(.rex-theme-light)  div.code {
	background-color: rgb(21, 28, 34);
	border: solid 1px #dfe3e9;
	padding: 15px;
}