 /* langauge chooser */

/* Modal Content/Box */
.modal-body a {
	color: #333;
}
.modal-body ul li {
	padding: 0 25px 25px 0;
	margin: 0;
	list-style-type: none;
	float: left;
	position: relative;
}
.modal-body img {
	margin-right: 0.5em;
	max-height: 25px;
}

/* Modal activation button */
#lang_chooser_button {
	background: transparent;
	border: none;
	float: right;
	font-size: 16px;
}
#lang_chooser_button svg, #lang_chooser_button img {
	color: navi_color_font;
	width: 25px;
	height: 25px;
}
.lang-code {
	float: right;
	padding-top: 2px;
}
.fa-icon {
	font-family: FontAwesome;
}
.fa-dropdown:before {
	content: "\f0d7";
}