 /* search button */
#search_icon {
	background: transparent;
	border: none;
	float: right;
}
#search_icon svg {
	color: navi_color_font;
	height: 25px;
	margin: 0 0 3px 0;
	width: 25px;
}
#fragment-search {
	border: 1px solid #aaa;
	float: right;
	margin: 15px 0;
	max-width: 100%;
	position: relative;
}
#fragment-search button {
	position: absolute;
	right: 0;
	top: 0;
}
#fragment-search input {
	border: none;
	color: #aaa;
	font-size: 16px;
}