/* with YFrom */
.search_it-search #yform-formular-search label {
	display: none;
}
.search_it-search #rex-yform {
	position: relative;
}
.search_it-search #rex-yform button {
	position: absolute;
	right: 0;
	bottom: 0;
}
.search_it-search #rex-yform input {
	border-radius: 0;
}
.search_it_yform_button {
	background-color: article_color_h;
	border: none;
	color: white;
	height: 50px;
	width: 50px;
}
.search_it_yform_button svg {
	width: 25px;
}

/* without YForm */
.search_it-search {
	padding-bottom: 2em;
}
.search_it-search input {
	border: 1px solid article_color_h;
	height: 50px;
	padding: .5rem;
	width: 100%;
}
.search_it-button {
	background-color: article_color_h;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
}
.search_it-button svg {
	color: article_color_bg;
	height: 50px;
	margin: 0 5px;
	width: 25px;
}
.search_it-flex {
	position: relative;
}
.search_it-headline, .search_it-result {
	margin: 0.75em 0 0.75em 0;
}
.search_it-result {
	background-color: article_color_box;
	padding: 15px;
}
.search_it-results {
	list-style: none;
	padding: 0;
}

.search_it-title {
	font-size: 1.25rem;
	font-weight: bold;
}
.search_it-teaser {
	
}
.search_it-url {
	
}

@font-face{
	font-family:'FontAwesome';
	font-display: swap;
	src:url("./assets/addons/be_style/webfonts/fa-regular-400.woff2") format("woff2"),
		url("./assets/addons/be_style/webfonts/fa-regular-400.ttf") format("truetype")
}
.icon {
	font-family: FontAwesome;
	font-weight: normal;
	line-height: 1em;
}
.file:before {
	color: darkred;
	content: "\f016";
}
.pdf:before {
	color: darkred;
	content: "\f1c1";
}

.search_it-hits .pagination {
	height: 2em;
	line-height: 2em;
	margin: 0.5em 0;	
}
.search_it-hits .pagination li {
	background-color: article_color_box;
	height: 2em;
	margin: 0 0.5em 0.5em 0;
	text-align: center;
	width: 2.5em;
}
.search_it-hits .pagination li.current, .search_it-hits .pagination li:hover, .search_it-hits .pagination a:hover {
	background-color: article_color_h;
	color: article_color_bg;
	text-decoration: none;
	transition: background-color 300ms ease-out;
}

.search_it-highlight {
    color: darkorange;
}
.search_it-hits br {
	clear: both;
}
.search_it-previewimage {
	float: left;
	padding: 0 0.5em 0.5em 0;
}

/* Autocomplete */
.ac_results {
    background-color: article_color_box;
    border: 1px solid article_color_h;
    display: none;
    list-style: outside none none;
    margin: -1px 0 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 200;
    width: 100%;
    max-width: 500px;
	transition: background-color 300ms ease-out;
}

.ac_results li {
    color: #333;
    line-height: 30px;
    padding: 2px 5px 2px 12px;
    text-align: left;
    white-space: nowrap;
}

body > .ac_results:first-child {
    background: red;
}

body > .ac_results:last-child {
    z-index: 5000;
}

.ac_over {
    background-color: article_color_h;
    color: article_color_bg !important;
    cursor: pointer;
}

.ac_over .ac_match {
    color: article_color_bg !important;
}

.ac_match {
    color: #333;
    text-decoration: underline;
}