@font-face{
	font-family:'FontAwesome';
	font-display: auto;
	src:url("./assets/addons/be_style/fonts/fontawesome-webfont.eot?v=4.7.0");
	src:url("./assets/addons/be_style/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format('embedded-opentype'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.woff2?v=4.7.0") format('woff2'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.woff?v=4.7.0") format('woff'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.ttf?v=4.7.0") format('truetype'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format('svg');
}
body {
	-moz-hyphens: auto;
	-o-hyphens: auto;
   	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
a, a:link, a:visited, a:hover
	{text-decoration: none;}
img {
	border: 0px;
	height: auto;
	max-width: 100%;
}
.abstand
	{margin: 1em 0;}
	
header {
	padding: 1em 0;
}
#logo {
	float: right;
}

.subhead {
	background-color: subhead_color_bg;
}
.subhead a {
	color: subhead_color_font;
}
.subhead a:hover {
	text-decoration: underline;
}
h1.subhead {
	padding: 0.5em 0;
}
#breadcrumbs {
	padding-bottom: 1em;
}
#breadcrumbs, #breadcrumbs a {
	color: subhead_color_font !important;
}
.fa-home {
	font-family: FontAwesome;
}
.fa-home:before {
	content: "\f015";
}

nav {
	background-color: navi_color_bg;
	border-bottom: solid 1px white;
}
nav a {
	text-decoration: none !important;
}
.navi {
	float: left;
}
.desktop-inner {
	font-weight: bold;
	padding: 15px 20px;
}
.desktop-navi:hover div.desktop-inner, .desktop-navi div:hover, .desktop-navi a:hover {
	color: navi_color_hover_font !important;
	cursor: pointer;
}
.desktop-navi:hover {
	background-color: navi_color_hover_bg !important;
}
.desktop-navi.current, .desktop-navi li.current {
	background: rgba(255, 255, 255, 0.25);
}


article {
	background-color: article_color_bg;
	font-family: 'Arial', sans-serif;
	padding: 1em 0;
}
article a, article a:visited, article a:hover, article a:focus, #breadcrumbs a {
	color: article_color_h;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
	color: article_color_h;
	margin-top: 0;
}
article h1, article h2 {
	font-weight: bold;
}
article h1 {
	font-size: 2em
}
article h2 {
	font-size: 1.8em
}
article h3 {
	font-size: 1.6em
}

section {
	font-family: 'Arial', sans-serif;
}

.btn-primary {
	background-color: article_color_h !important;
	border: none !important;
}