.d2u-helper-vidstack-stack {
    display: grid;
    gap: 1rem;
    margin: 15px 0;
}

.d2u-helper-vidstack-item {
    display: grid;
    gap: 0.5rem;
}

.d2u-helper-vidstack-item-title {
    color: var(--article-color-h);
    font-weight: 600;
}

.d2u-helper-vidstack-stack media-player,
.d2u-helper-vidstack-stack .audio-container,
.d2u-helper-vidstack-stack .video-container {
    max-width: 100%;
    width: 100%;
}