.desktop-navi, #mobile-menu {
	float: left;
	width: auto;
}
.desktop-inner {
	padding: 15px 20px;
}
.dl-menuopen, .dl-submenu {
	width: 300px !important;
}
.dl-menuwrapper button, .dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul, .dl-menuwrapper li .desktop-navi,  #dl-menu button.dl-active {
	background: var(--navi-color-bg);
	transition: all 0.5s;
}
button.dl-trigger, button.dl-trigger:hover {
	background: var(--navi-color-bg);
	transition: all 0.5s;
}
.desktop-navi div, .desktop-navi a {
	color: var(--navi-color-font);
}
.dl-menuwrapper button:after {
	background: var(--navi-color-font) !important;
	box-shadow: 
		0 10px 0 var(--navi-color-font), 
		0 20px 0 var(--navi-color-font) !important;
}
/* Hover */
.desktop-navi:hover div.desktop-inner {
	color: var(--navi-color-hover-font);
	transition: all 0.5s;
}
.dl-menuwrapper li a, .dl-menuwrapper div a, ul.dl-menu a, .dl-menuwrapper li.dl-back:after, .dl-subview .dl-subviewopen .dl-submenu li a  {
	color: var(--navi-color-hover-font);
	transition: all 0.5s;
}
.desktop-navi:hover {
	background-color: var(--navi-color-hover-bg);
	transition: all 0.5s;
}
.dl-menu li:hover, .dl-submenu li:hover {
	background-color: var(--navi-color-hover-bg) !important;
	transition: all 0.5s;
}
.dl-menu li:hover, .dl-subviewopen .dl-submenu li:hover {
	background-color: var(--navi-color-hover-bg);
	transition: all 0.5s;
}
.dl-menu li:hover a, .dl-subviewopen .dl-submenu li:hover a {
	color: var(--navi-color-hover-font);
	transition: all 0.5s;
}
.dl-subviewopen .dl-submenu li a {
	color: var(--navi-color-font);
}
.dl-back a:hover {
	text-decoration: none;
}