@font-face{
	font-family:'FontAwesome';
	src:url("./assets/addons/be_style/fonts/fontawesome-webfont.eot?v=4.7.0");
	src:url("./assets/addons/be_style/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format('embedded-opentype'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.woff2?v=4.7.0") format('woff2'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.woff?v=4.7.0") format('woff'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.ttf?v=4.7.0") format('truetype'),
		url("./assets/addons/be_style/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format('svg');
}
body {
	-moz-hyphens: auto;
	-o-hyphens: auto;
   	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
a, a:link, a:visited, a:hover
	{text-decoration: none;}
img
	{border: 0px;
	max-width: 100%;}
.abstand
	{margin: 1em 0;}
	
header {
	background-position: center;
	background-size: cover;
	padding: 2em 0;
}
@media screen and (min-width: 992px) {
	header {
		min-height: 390px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px)  {
	header {
		min-height: 250px;
	}
	#logo {
		max-width: 80%;
	}
}
@media screen and (max-width: 768px) {
	header {
		min-height: 150px;
	}
	#logo {
		max-width: 60%;
	}
}

#langchooser {
	float: right;
}
#langchooser img {
	margin: 0 10px 3px 0;
}
#langchooser a {
	color: white;
}

.subhead {
	background-color: subhead_color_bg;
}
.subhead a {
	color: subhead_color_font;
}
.subhead a:hover {
	text-decoration: underline;
}
h1.subhead {
	padding: 0.5em 0;
}
#breadcrumbs {
	padding: 1em 0 0 0;
}
#breadcrumbs.subhead, #breadcrumbs.subhead a {
	color: subhead_color_font;
}
.fa-home, .fa-icon {
	font-family: FontAwesome;
}
.fa-dropbox:before {
	content: "\f16b";
}
.fa-envelope-o:before {
	content: "\f003";
}
.fa-file-pdf-o:before {
	color: #c60000;
	content: "\f1c1";
}
.fa-home:before {
	content: "\f015";
}
.fa-list-ul:before {
	content: "\f0ca";
}
.fa-plus:before {
	content: "\f067";
}
.nav-link span.fa-icon {
	padding: 0 0.6em;
}

nav {
	background-color: navi_color_bg;
	border-bottom: solid 1px white;
}
nav a {
	text-decoration: none;
}
.desktop-inner {
	font-weight: bold;
	padding: 15px 20px;
}
.desktop-navi:hover div.desktop-inner, .desktop-navi div:hover, .desktop-navi a:hover {
	color: navi_color_hover_font !important;
	cursor: pointer;
}
.desktop-navi:hover {
	background-color: navi_color_hover_bg !important;
}

article {
	background-color: article_color_bg;
	font-family: 'Ubuntu', sans-serif;
	padding: 1em 0;
}
article a, article a:visited, article a:hover, #breadcrumbs a {
	color: article_color_h;
}
article a:hover {
	text-decoration: underline;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
	color: article_color_h;
	margin-top: 0;
}
article h1, article h2 {
	font-weight: bold;
}

section {
	font-family: 'Ubuntu', sans-serif;
}
footer {
	background-color: footer_color_bg;
	font-family: 'Ubuntu', sans-serif;
	padding: 1em 1em 0 1em;
}
footer a {
	color: white;
}
footer a:hover {
	color: white;
	text-decoration: underline;
}
.footerbox {
	background-color: footer_color_box;
	margin-bottom: 1em;
	padding: 5px 1em;
}

/* YForm Captcha */
.input-group-addon {
	min-width: 150px;
	padding: 0px !important;
}

/* Machinery Addon */
.box {
	background-color: article_color_h;
	border: 1px solid article_color_h;
	text-align: center;
}
.box div {
	color: white;
	padding: 5px;
}
.box img {
	max-width: 100%;
}
.nav li a.active {
	background: url("../assets/addons/d2u_machinery/icon_arrowTabs.svg") no-repeat 50% bottom;
}
.nav li, .nav li.active {
	padding: 0 2em 0 0;
}
.nav li a, .nav li.active a {
	font-weight: bold;
	padding: 0 0 15px 0;
}
.nav-link.active {
	background-color: transparent !important;
}
.comparison-header, unit {
	padding: 0 15px;
}